# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OldCarSounds.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\MSC Mods\OldCarSounds\.idea\.idea.OldCarSounds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
